::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.demo-progress .el-progress--line {
    margin-bottom: 15px;
    width: 80%;
    margin-top: 20px;
    display: flex;
}


.plugin-header {
    color: #6b778c;
}

.plugin-text {
    font-size: var(--el-form-label-font-size);
    color: var(--el-text-color-regular);
    --el-form-label-font-size: var(--el-font-size-base);
}

.tag-block {
    margin: 4px 12px 4px 0;
}

